/* 
====== 
Fonts
======
*/
@import url("https://fonts.googleapis.com/css?family=Catamaran:300,400|Kaushan+Script&display=swap");
/* 
====== 
Variables 
======
*/

$primaryColor: #845ec2;
$primaryDarkColor: #00c9a7;
$primaryFont: "Catamaran", sans-serif;
$slantedFont: "Kaushan Script", cursive;
$mainWhite: #fff;
$offWhite: #f7f7f7;
$mainBackground: #ececec;
$mainOverlay: rgba(35, 10, 36, 0.4);
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #afafaf;
$mainRed: #bd0303;
$mainTransition: all 0.3s linear;
$mainSpacing: 0.3rem;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
$mainBorderRadius: 0.25rem;
$maxWidth: 80rem;
$smallWidth: 85vw;
$fullWidth: 1280px;

/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primaryFont;
  color: $mainBlack;
  background: $mainBackground;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primaryFont;
  margin-bottom: 1.25rem;
  letter-spacing: $mainSpacing;
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $mainBlack;
  cursor: pointer;
}
img {
  width: 100%;
  display: block;
}
.loading {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.7rem;
  margin-top: 3rem;
  letter-spacing: $mainSpacing;

  img {
    width: 10rem;
    margin: 0 auto;
  }
}

.container {
  max-width: $maxWidth;
  padding: 0 1rem;
  margin: 0 auto;
  overflow: auto;
}

.section {
  padding: 4rem 0;
}
.section-title,
.search-errors {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: $mainSpacing;
  text-align: center;
  margin-bottom: 3.5rem;
}
